<div class="row" ng-controller="AdminController">
	<div class="col-md-12">
		<div class="row" *ngIf="addHotel">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="text-center">Add New Hotel</h1>
					</div>
					<div class="panel-body" style="width: 50%; margin: 0 auto;">
						<form  name="hotelForm" class="form-horizontal" (submit)="createHotel()">
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">Hotel Name</label>
								<input type="text" class="col-md-4" [(ngModel)]="name" name="name"
									placeholder="Hotel Name" required>
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">Hotel Address</label>
								<input type="text" class="col-md-4" [(ngModel)]="address" name="address"
									placeholder="Hotel Address" required>
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">Zip Code</label>
								<input type="text" class="col-md-4"[(ngModel)]="zip" name="zip"
									placeholder="Zip code" required>
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">City</label>
								<input type="text" class="col-md-4"[(ngModel)]="city" name="city"
									placeholder="City" required>
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">State</label>
								<input type="text" class="col-md-4" [(ngModel)]="state" name="state"
									placeholder="State" required>
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">Room Rate</label>
								<input type="text" class="col-md-4" [(ngModel)]="rate" name="rate"
									placeholder="Room Rate" required data-ng-pattern="/^[0-9]+$/">
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">Room Count</label>
								<input type="text" class="col-md-4" [(ngModel)]="roomCount" name="roomCount"
									placeholder="Room Count" required data-ng-pattern="/^[0-9]+$/">
							</div>
							<div class="row control-group required-asterisk" style="padding-top: 5px;">
								<label class="col-md-5 control-label">url</label>
								<input type="text" class="col-md-4" [(ngModel)]="url" name="url"
									placeholder="url">
							</div>
							<div class="row" style="padding-top: 5px;" align="center">
								<button class="btn btn-primary" type="submit" value="Submit">Proceed</button>
								<button class="btn btn-primary" (click)="setTrue()" type="button">cancel</button>
							</div>
						</form>
					</div>
				</div>

				<!-- <div class="row" *ngIf="updateDisplay">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h1 class="text-center">Add New Hotel</h1>
							</div>
							<div class="panel-body" style="width: 50%; margin: 0 auto;">
								<form  name="hotelForm" class="form-horizontal" (submit)="createHotel()">
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Hotel Name</label>
										<input type="text" class="col-md-4" [(ngModel)]="uname" name="name"
											placeholder="Hotel Name" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Hotel Address</label>
										<input type="text" class="col-md-4" [(ngModel)]="uaddress" name="address"
											placeholder="Hotel Address" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Zip Code</label>
										<input type="text" class="col-md-4"[(ngModel)]="uzip" name="zip"
											placeholder="Zip code" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">City</label>
										<input type="text" class="col-md-4"[(ngModel)]="ucity" name="city"
											placeholder="City" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">State</label>
										<input type="text" class="col-md-4" [(ngModel)]="ustate" name="state"
											placeholder="State" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Room Rate</label>
										<input type="text" class="col-md-4" [(ngModel)]="urate" name="rate"
											placeholder="Room Rate" required data-ng-pattern="/^[0-9]+$/">
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Room Count</label>
										<input type="text" class="col-md-4" [(ngModel)]="uroomCount" name="roomCount"
											placeholder="Room Count" required data-ng-pattern="/^[0-9]+$/">
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">url</label>
										<input type="text" class="col-md-4" [(ngModel)]="uurl" name="url"
											placeholder="url">
									</div>
									<div class="row" style="padding-top: 5px;" align="center">
										<button class="btn btn-primary" type="submit" value="Submit">Proceed</button>
										<button class="btn btn-primary" (click)="setTrue()" type="button">cancel</button>
									</div>
								</form>
							</div>
						</div> -->
			</div>
		</div>
		<div class="row" ng-controller="AdminController">
			<div class="col-md-12">
							<div class="row" *ngIf="updateDisplay">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h1 class="text-center">Add New Hotel</h1>
							</div>
							<div class="panel-body" style="width: 50%; margin: 0 auto;">
								<form  name="hotelForm" class="form-horizontal" (submit)="updateHotel()">
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Hotel Name</label>
										<input type="text" class="col-md-4" [(ngModel)]="uname" name="name"
											placeholder="Hotel Name" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Hotel Address</label>
										<input type="text" class="col-md-4" [(ngModel)]="uaddress" name="address"
											placeholder="Hotel Address" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Zip Code</label>
										<input type="text" class="col-md-4"[(ngModel)]="uzip" name="zip"
											placeholder="Zip code" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">City</label>
										<input type="text" class="col-md-4"[(ngModel)]="ucity" name="city"
											placeholder="City" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">State</label>
										<input type="text" class="col-md-4" [(ngModel)]="ustate" name="state"
											placeholder="State" required>
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Room Rate</label>
										<input type="text" class="col-md-4" [(ngModel)]="urate" name="rate"
											placeholder="Room Rate" required data-ng-pattern="/^[0-9]+$/">
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">Room Count</label>
										<input type="text" class="col-md-4" [(ngModel)]="uroomCount" name="roomCount"
											placeholder="Room Count" required data-ng-pattern="/^[0-9]+$/">
									</div>
									<div class="row control-group required-asterisk" style="padding-top: 5px;">
										<label class="col-md-5 control-label">url</label>
										<input type="text" class="col-md-4" [(ngModel)]="uurl" name="url"
											placeholder="url">
									</div>
									<div class="row" style="padding-top: 5px;" align="center">
										<button class="btn btn-primary" type="submit" value="Submit">Proceed</button>
										<button class="btn btn-primary" (click)="setUpdate()" type="button">cancel</button>
									</div>
								</form>
							</div>
						</div>

				</div>
		</div>

		<div class="row" ng-hide="addHotel">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="text-center">Current Hotels</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive" style="padding-top:5px;">
							<table id="hotels" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Address</th>
										<th>City, State</th>
										<th>zip</th>
										<th>Actions</th>

									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let hotel of hotels'>
										<td>{{hotel.name}}</td>
										<td>{{hotel.address}}</td>
										<td>{{hotel.city}} - {{hotel.state}}</td>
										<td>{{hotel.zip}}</td>
										<button class="btn btn-danger" style="margin-left: 45px;margin-top: 10px;text-align: center;" (click)="getHotel(hotel._id)">Edit</button>
                                        <button class="btn btn-danger" style="margin-left: 45px;margin-top: 10px;text-align: center;" (click)="deleteHotel(hotel._id)">Delete</button>
									<tr>
								</tbody>
							</table>
						</div>
					</div>
					<button class="btn btn-primary" (click)="setTrue()">Add New Hotel</button>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="text-center">Current Users</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="bookings" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Full Name</th>
										<th>Email Address</th>
										<th>Is Admin</th>
										<th>action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let user of users">
										<td>{{user.firstname}} {{user.lastname}}</td>
										<td>{{user.email}}</td>
										<td>{{user.isAdmin}}</td>
										<button class="btn btn-danger" style="margin-left: 45px;margin-top: 10px;text-align: center;" (click)="deleteUser(user._id)">Delete</button>
                                    </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
