<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <!--------- <title>Responsive Navigation Menu</title>------>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="links">
    <nav>
      <a class="logo" [routerLinkActive]="['active']" [routerLink]="['/']">StayCation</a>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <!-- Hide if not logged in -->
        <li *ngIf="authService.loggedIn() && ! authService.isAdmin()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a>
        </li>
        <li *ngIf="authService.loggedIn() && ! authService.isAdmin()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/viewBooking']">MyBooking</a>
        </li>
        <li *ngIf="authService.loggedIn() && authService.isAdmin()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin']">Admin Panel</a>
        </li>
        <!-- /Hide if not logged in -->
        <!-- Hide if logged in -->
        <li *ngIf="!authService.loggedIn()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="!authService.loggedIn()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a>
        </li>
        <!-- /Hide if logged in -->
  
        <!-- Hide if not logged in -->
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/']" (click)="onLogoutClick()">Logout</a>
        </li>
        <!-- /Hide if not logged in -->
  
      </ul>
    </nav>
  </div>
  </body>
</html>
